@import '../logo/logo.css';
@import '../navigation/navigation.css';

.header {
    background-color: var(--white, #FFF);
}

.header__inner {
    padding: 24px 0 0;
}

.header__nav-bar {
    display: flex;
    justify-content: space-between;
}

.header__heading {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black, black);
    margin: 40px 0 0;
}
