.tabs__radio-input {
    display: none;
}

.tabs__nav-wrapper {
    display: flex;
}

.tabs__nav-item {
    margin-right: 40px;
}

.tabs__nav-wrapper:last-child {
    margin-right: 0;
}

.tabs__nav-label {
    display: inline-flex;
    position: relative;
    padding: .5rem 0;
    border-bottom: 5px solid transparent;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3, #ACB5BD);
}

.tabs__nav-label::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--black, #212429);
    position: absolute;
    top: 100%;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.tabs__divider {
    width: 100%;
    height: 1px;
    background-color: var(--grey-2, #DDE2E5);
}

.tabs__content-wrapper_bg {
    background-color: var(--page-background, #F9FAFC);
}

.tabs__content-tab {
    display: none;
}

#tab0:checked ~ .tabs__nav .tabs__nav-label_tab0 {
    color: var(--black, #212429);
}

#tab0:checked ~ .tabs__nav .tabs__nav-label_tab0::after {
    transform: scaleX(1);
}

#tab0:checked ~ .tabs__content-wrapper .tabs__content-tab_tab0 {
    display: flex;
}

#tab1:checked ~ .tabs__nav .tabs__nav-label_tab1 {
    color: var(--black, #212429);
}

#tab1:checked ~ .tabs__nav .tabs__nav-label_tab1::after {
    transform: scaleX(1);
}

#tab1:checked ~ .tabs__content-wrapper .tabs__content-tab_tab1 {
    display: flex;
}

#tab2:checked ~ .tabs__nav .tabs__nav-label_tab2 {
    color: var(--black, #212429);
}

#tab2:checked ~ .tabs__nav .tabs__nav-label_tab2::after {
    transform: scaleX(1);
}

#tab2:checked ~ .tabs__content-wrapper .tabs__content-tab_tab2 {
    display: flex;
}
