@import '../../assets/css/config/mixins';

.sidebar {
  width: 228px;

  @include mobileBreakpoint {
    display: none;
  }

  &__heading {
    margin-bottom: 16px;
    @include typography(normal);
    @include fontSize(20px, 26px);
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    margin-bottom: 4px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    @include typography(normal);
    @include fontSize(14px, 22px);
  }
}
