html {
    height: 100%;
}

.component-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.component-preview__grid {
    display: grid;
    grid-gap: 30px;
}

.component-preview__grid_2by2 {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, auto);
}
