.template {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 36px;
}

.template__header {
    height: 82px;
    background-color: var(--white, #fff);
}

.template__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 56px;
    width: 100%;
}

.template__sidebar {
    width: 229px;
}

.template__sidebar-heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.template__sidebar-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.template__sidebar-item {
    margin-bottom: 4px;
}

.template__sidebar-item:last-of-type {
    margin-bottom: 0;
}

.template__sidebar-link {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #212429;
}

.template__component {
    background-color: white;
    padding: 32px 48px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
}

.template__component-heading {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4, #495057);
    margin-top: 0;
    margin-bottom: 24px;
}

.template__footer {
    padding: 56px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.template__footer-heading {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3, #ACB5BD);
}
