.toggler {
}

.toggler__input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    outline: none;
}

.toggler__wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.toggler__control {
    width: 52px;
    height: 28px;
    background: var(--white, #FFF);
    border: 1px solid var(--grey-2, #DDE2E5);
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
    transition: background-color .4s;
}

.toggler__checkmark {
    width: 24px;
    height: 24px;
    background: var(--grey-2, #DDE2E5);
    border-radius: 16px;
    position: absolute;
    left: 2px;
    top: calc(50% - 24px/2);
    transition: all .4s;
}

.toggler__label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4, #495057);
    margin: 0 0 0 12px;
}

.toggler__input:checked ~ .toggler__wrapper .toggler__control {
    background-color: var(--blue, #4263EB);
    border-color: var(--blue, #4263EB);
}

.toggler__input:checked ~ .toggler__wrapper .toggler__checkmark {
    background-color: var(--white, #FFF);
    transform: translateX(23px);
}

.toggler__input:disabled ~ .toggler__wrapper {
    pointer-events: none;
    cursor: default;
}

.toggler__input:disabled ~ .toggler__wrapper .toggler__control {
    background-color: var(--grey-2, #DDE2E5);
}

.toggler__input:disabled ~ .toggler__wrapper .toggler__checkmark {
    background-color: var(--grey-3, #ACB5BD);
    opacity: 25%;
}

.toggler__input:disabled ~ .toggler__wrapper .toggler__label {
    color: var(--grey-2, #DDE2E5);
}
