@import '../../assets/css/config/mixins.scss';

.modal {
  font-size: 1rem;

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;

  background-color: var(--grey-5, #C4C4C450);

  &_preview {
    display: flex;
    position: static;
    padding: 10px;
    font-size: .75rem;
  }

  &__body {
    background: var(--white, #FFF);
    border-radius: var(--border-radius);
    padding: 2.5em;
    position: relative;
  }

  &__heading {
    @include typography(600);
    @include fontSize(1.25em, 1.5em);
    color: var(--secondary-blue, #334D6E);
    margin-bottom: .875rem;
  }

  &__content {
    @include typography(regular);
    color: var(--grey-4, #495057);
  }

  &__close-button {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__close-icon {
    width: 16px;
    height: 16px;
  }
}
