.component-card {
  box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  background-color: var(--white, #FFF);
  overflow: hidden;
  padding: 32px 48px;

  &__heading {
    color: var(--grey-4, #495057);
    margin-bottom: 32px;
  }

  &__preview {
    margin-bottom: 32px;
  }

  &__code {
    margin-top: 32px;
  }
}
