.navigation {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation__link {
    margin-right: 24px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--grey-3, #ACB5BD);
    text-decoration: none;
}

.navigation__link:last-of-type {
    margin-right: 0;
}

.navigation__link_current,
.navigation__link:hover {
    color: var(--black, #212429);
}
