/* Style reset */
@import './reset.css';
@import '../../node_modules/normalize.css/normalize.css';
@import '../fonts/fonts.css';
@import '../fonts/typography.scss';

/* Home page layout */
/* Header */
@import '../../components/header/header.scss';
@import '../../components/logo/logo.scss';
@import '../../components/navigation/navigation.scss';

/* Main */
@import '../../components/card/card.scss';
@import '../../components/component-preview/component-preview.scss';
@import '../../components/dark-mode/dark-mode.scss';
@import '../../components/flex-grid/flex-grid.scss';
@import '../../components/home-page/home-page.scss';
@import '../../components/page/page.scss';
@import '../../components/tabs/tabs.scss';

/* Footer */
@import '../../components/footer/footer.scss';

/* Template page layout */
@import '../../components/grid-layout/grid-layout.scss';
@import '../../components/sidebar/sidebar.scss';
@import '../../components/code-snippet/code-snippet.scss';
@import '../../components/component-card/component-card.scss';
@import '../../components/side-navigation/side-navigation.scss';

/* Components */
@import '../../03-lection1/01-button/button.scss';
@import '../../03-lection1/02-accordion/accordion.scss';
@import '../../04-lection2/01-histogram/histogram.scss';
@import '../../04-lection2/02-skeleton/skeleton.scss';
@import '../../05-lection3/01-tooltip/tooltip.scss';
@import '../../05-lection3/02-modal/modal.scss';
@import '../../05-lection3/03-calendar/calendar.scss';
@import '../../06-lection4/01-avatar/avatar.scss';
@import '../../07-lection5/01-checkbox/checkbox.scss';
@import '../../07-lection5/02-radio/radio.scss';
@import '../../07-lection5/03-toggler/toggler.scss';
@import '../../07-lection5/04-input/input.scss';
@import '../../09-lection7/01-burger-menu/burger-menu.scss';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --dark-purple: #5028C6;
    --blue: #4263EB;
    --dark-blue: #2342C0;
    --light-blue: #A0B1F520;
    --secondary-blue: #334D6E;
    --light-secondary-blue: #90A0B7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #C4C4C450;
    --page-background: #F9FAFC;

    --error: #F03D3E;
    --error-secondary: #F03D3E10;
    --success: #374FC7;

    --primary: var(--blue);
    --secondary: var(--purple);

    --mobileBreakpoint: 767px;

    --border-radius: 8px;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

@media screen and (min-width: 1024px) {
    html {
        /*overflow: auto;*/
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}


