$mobileBreakpoint: 767px;

@mixin typography($font-weight) {
  @if ($font-weight == normal) {
    font-weight: normal;
  } @else {
    font-weight: $font-weight;
  }
  color: var(--black, #212429);
  font-family: Inter, sans-serif;
  font-style: normal;
}

@mixin mobileBreakpoint {
  @media screen and (max-width: #{$mobileBreakpoint}) { @content; }
}

@mixin fontSize($font-size, $line-height) {
  font-size: #{$font-size};
  line-height: #{$line-height};
}

@mixin tabsHelper($tabID) {
  &:checked {
    ~ .tabs__nav {
      .tabs__nav-label_tab#{$tabID} {
        color: var(--black, #212429);

        &::after {
          transform: scaleX(1);
        }
      }
    }

    ~ .tabs__content-wrapper {
      .tabs__content-tab_tab#{$tabID} {
        display: flex;
      }
    }
  }
}
