.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__heading {
    text-align: center;
}

.footer__summary {
    text-align: center;
}

.footer__inner {
    padding: 72px 0 136px;
}
