@import "../../assets/css/config/mixins";

$headerHeight: 64px;

.burger-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }

  &__control {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    left: 16px;

    &_close {
      background-color: var(--grey-2, #DDE2E5);
      border-radius: 50%;
      display: none;
      z-index: 1;
    }
  }

  &__control-icon {
    width: 24px;
    height: 24px;
    color: var(--grey-4, #495057);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__divider {
    margin: 24px 0;
    background-color: var(--grey-2, #DDE2E5);
    height: 1px;
  }

  &__wrapper {
    position: absolute;
    display: none;
    background-color: var(--page-background, #F9FAFC);
    top: $headerHeight;
    right: 0;
    bottom: 0;
    left: 0;

    &[data-open] {
      display: block;
    }

    &[data-open] ~ .burger-menu__control {
      display: none;
    }

    &[data-open] ~ .burger-menu__control_close {
      display: block;
    }
  }
}
