html {
    height: 100%;
}

body {
    background-image: url("./public/forest_400.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 769px){
    body {
        background-image: url("./public/forest_768.jpg");
    }
}

@media screen and (min-width: 769px){
    body {
        background-image: url("./public/forest_1024.jpg");
    }
}

@media screen and (min-width: 1025px) {
    body {
        background-image: url("./public/forest_2560.jpg");
    }
}
