.card {
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__title {
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black, #212429);
}

.card__subtitle {
    margin: 6px 0 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--grey-4, #495057);
}
